%div{:align => "center"}
  %table{:width => "900px", :border => "0", :align => "center", :bordercolor => "#336699", :cellpadding => "2", :cellspacing => "2" }
    %tr{:align => "right"}
      %td
        = 'Daniel Vartanov'
    %tr{:align => "right"}
      %td
        = 'Andrey Titov'
