%div{:align=>"center"}
  
%br/
%br/
%table{:width=>"985px",:border=>"0"}
  %tr
    %td{:align => "left",:width => "150px"}
      %a{:target => "_top", :href => "http://top.mail.ru/jump?from=1669526"}
        %img{:src => "http://d9.c7.b9.a1.top.mail.ru/counter?id=1669526;t=210", :border=>"0", :height=>"31", :width=>"88", :alt=>"Рейтинг@Mail.ru"}
      %script#top100Counter{ :type => "text/javascript", :src => "http://cnt.rambler.ru/top100.jcn?1807849" }
      %noscript
        %a{ :href => "http://top100.rambler.ru/home?id=1807849", :target => "_blank" }
          %img{ :src => "http://cnt.rambler.ru/top100.cnt?1807849", :border => "0", :height => "63", :alt => "Rambler's Top100", :width => "81" }
  %tr
    %td{:align=>"left"}
      %div{:alink=>"blue"}
        %a{ :href => "mailto:pump.kg@mail.ru" }
          Администрация
    %td{:align=>"right"}
      Сайт сделали: Даниил Вартанов и Андрей Титов