%div{:align => "center"}
  %table{:width => "900px", :border => "0", :align => "center", :bordercolor => "#336699", :cellpadding => "2", :cellspacing => "2" }
    %tr{:align => "left"}
      %td
        %h1= 'Download.kg'
    %tr
      %td{:align=> "left"}
        =' '

  