%div{:align => "center"}
  %object{:classid => "clsid:D27CDB6E-AE6D-11cf-96B8-444553540000", :width =>"985px", :height => "100px"}
    %param{:name => "movie", :value => "/banner/capital_985-100.swf"}
    %object{:type => "application/x-shockwave-flash", :data => "/banner/capital_985-100.swf", :width => "985px", :height => "100px"}

%div{:align=>"center"}
  

%table{:width => "985px", :border => "0", :align => "center", :bordercolor => "#336699", :cellpadding => "2", :cellspacing => "2" }
  %tr{:align => "left"}
    %td
      %h1 Pump.kg
      %h2 качай сколько влезет ;-)
  