!!! Strict
%html
  %head
    %title Качаем файлы c внешки бесплатно
    = css_include_tag :master
  %body
    #header-container{:align => "center"}
      = partial 'layout/header'
    #main-container{:align => "center"}
      = catch_content :for_layout
    #footer-container{:align => "center"}
      = partial 'layout/footer'